@charset "UTF-8";



/********************/
/* Font Definitions */
/********************/

/* ET Book styles adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
  font-family: "et-book";
  src:
    url("font/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src:
    url("font/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"),
    url("font/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"),
    url("font/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"),
    url("font/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src:
    url("font/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src:
    url("font/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"),
    url("font/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"),
    url("font/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"),
    url("font/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src:
    url("font/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src:
    url("font/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"),
    url("font/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"),
    url("font/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"),
    url("font/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src:
    url("font/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src:
    url("font/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"),
    url("font/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"),
    url("font/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"),
    url("font/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/**********/
/* Styles */
/**********/

html {
  font-size: 15px; 
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family:
    et-book, Palatino, "Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}



/* Headers */

h1, h2, h3 {
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: 3.2rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.2rem;
  font-style: italic;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 1.7rem;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1; 
}

p.byline {
  font-size: 1.2rem;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}



/* Text */

article {
  padding: 5rem 0rem; 
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

p, ol, ul {
  font-size: 1.4rem;
  line-height: 2rem; 
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline; 
}

section > p,
section > footer,
section > table,
section > div.sourceCode
{
  width: 55%; 
}

section > ol,
section > ul
{
  width: 50%;
  -webkit-padding-start: 5%; 
}

div.frontmatter {
  display: none;
}



/* Links */

a:any-link {
  color: inherit;
  text-decoration: none;
  background:
    -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(currentColor, currentColor);
  background:
    linear-gradient(#fffff8, #fffff8),
    linear-gradient(#fffff8, #fffff8),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow:
    0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8,
    0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8,
    0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8,
    -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%; 
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, a:hover {
        background-position-y: 87%, 87%, 87%;
    }
}



a:any-link::selection,
a:any-link::-moz-selection {
  text-shadow:
    0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe,
    0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe,
    0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe,
    -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}



/* Code */

div.example > div.sourceCode {
  background: #E3FDEB;
}

div.doctest > div.sourceCode {
  background: #E3E5FF;
}

div.doctest code span.co {
  color: #0E439E;
  font-weight: normal;
  font-style: normal;
}

div.sourceCode,
pre:not(.sourceCode)
{
  padding: 1.4rem;
  width: 55%;
  font-size: 0.9rem;
  overflow-x: auto;
  background: #FDF6E3;
}

pre code { color: #657B83; }
a.sourceLine::before { text-decoration: none; }
code span.kw { color: #859900; font-weight: normal; font-style: normal; } /* Keyword */
code span.dt { color: #B58900; font-weight: normal; font-style: normal; } /* DataType */
code span.dv { color: #2AA198; font-weight: normal; font-style: normal; } /* DecVal */
code span.bn { color: #2AA198; font-weight: normal; font-style: normal; } /* BaseN */
code span.fl { color: #2AA198; font-weight: normal; font-style: normal; } /* Float */
code span.ch { color: #2AA198; font-weight: normal; font-style: normal; } /* Char */
code span.st { color: #2AA198; font-weight: normal; font-style: normal; } /* String */
code span.co { color: #93A1A1; font-weight: normal; font-style: italic; } /* Comment */
code span.ot { color: #268BD2; font-weight: normal; font-style: normal; } /* Other */
code span.al { color: #DC322F; font-weight: normal; font-style: normal; } /* Alert */
code span.fu { color: #268BD2; font-weight: normal; font-style: normal; } /* Function */
code span.er { color: #DC322F; font-weight: normal; font-style: normal; } /* Error */
code span.wa { color: #CB4B16; font-weight: normal; font-style: italic; } /* Warning */
code span.cn { color: #2AA198; font-weight: normal; font-style: normal; } /* Constant */
code span.sc { color: #DC322F; font-weight: normal; font-style: normal; } /* SpecialChar */
code span.vs { color: #657B83; font-weight: normal; font-style: normal; } /* VerbatimString */
code span.ss { color: #DC322F; font-weight: normal; font-style: normal; } /* SpecialString */
code span.im { color: #657B83; font-weight: normal; font-style: normal; } /* Import */
code span.va { color: #268BD2; font-weight: normal; font-style: normal; } /* Variable */
code span.cf { color: #859900; font-weight: normal; font-style: normal; } /* ControlFlow */
code span.op { color: #859900; font-weight: normal; font-style: normal; } /* Operator */
code span.bu { color: #657B83; font-weight: normal; font-style: normal; } /* BuiltIn */
code span.ex { color: #657B83; font-weight: normal; font-style: normal; } /* Extension */
code span.pp { color: #CB4B16; font-weight: normal; font-style: normal; } /* Preprocessor */
code span.at { color: #657B83; font-weight: normal; font-style: normal; } /* Attribute */
code span.do { color: #93A1A1; font-weight: normal; font-style: italic; } /* Documentation */
code span.an { color: #93A1A1; font-weight: normal; font-style: italic; } /* Annotation */
code span.cv { color: #93A1A1; font-weight: normal; font-style: italic; } /* CommentVar */
code span.in { color: #93A1A1; font-weight: normal; font-style: italic; } /* Information */



/* Sidenotes */

.sidenote, .marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative; 
}

.sidenote-number {
  counter-increment: sidenote-counter; 
}

.sidenote-number:after,
.sidenote:before
{
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline; 
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; 
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem; 
}

input.margin-toggle {
  display: none; 
}

label.sidenote-number {
  display: inline; 
}

label.margin-toggle:not(.sidenote-number) {
  display: none; 
}

/* Side notes inside blockquotes */
blockquote .sidenote,
blockquote .marginnote
{
  margin-right: -82%;
  min-width: 59%;
  text-align: left; 
}



/* Epigraphs */

div.epigraph {
    margin: 5em 0; 
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.4rem;
  font-style: italic;
}

div.epigraph > blockquote > p {
  width: 55%;
  margin-right: 40px;
}

div.epigraph > blockquote > footer {
  font-style: normal;
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
